doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Signup
    body 
        if(message)
            h4 #{message}
            form(action="/signup" method="POST")
                input(type="text" name="id" require placeholder = "User ID")
                input(type="text" name="password" require placeholder="User Password")
                button(type='submit') Sign up!  